<!DOCTYPE html>
<html>
<head>
  <title>My App</title>
  <h1>hiii</h1>
  <!-- Include the necessary stylesheets -->
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy/YAAxKRXdqHq3vPe" crossorigin="anonymous">
</head>
<body>
  <div id="app">
    <index></index>

  </div>

  <!-- Include the Vue library -->
  <script src="https://unpkg.com/vue@2.6.14/dist/vue.js"></script>
  <!-- Include the Axios library if needed -->
  <script src="https://unpkg.com/axios/dist/axios.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj" crossorigin="anonymous"></script>
  <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js" integrity="sha384-en4FQZT9hddcNl5ibKbPC1Z9vXOhfTIEpI1ZAl9FC4CPzYf9z2P3B9Q6QZexs2w" crossorigin="anonymous"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js" integrity="sha384-B4gt1jrGC7Jh4AgTPSdUtOBvfO8sh+Wy/YAAxKRXdqHq3vPe" crossorigin="anonymous"></script>
  <script src="../src/main.js"></script>
</body>
</html>
